<!DOCTYPE html>
<html>
  <head>
    <title>Inertia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Inertia is a stylish, privacy-respecting meta-search engine for the modern web.">
    <%= favicon_link_tag asset_path('favicon.svg') %>

    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "normalize" %>

    <% host_config = Rails.configuration.inertia.host %>
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="Inertia"
      href="<%= host_config[:protocol] %>://<%= host_config[:hostname] %>/opensearch.xml" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
