<!DOCTYPE html>
<html>
  <head>
    <title>Inertia - Search</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "normalize" %>
  </head>

  <body>
    <main
      class="Page Page--flex"
      data-page="search"
      data-type="<%= @search_type %>"
    >
      <!-- Navigation Bar -->
      <nav class="Navbar">
        <div class="Navbar__Search">
          <a class="ImageLink" href="/">
            <%= image_tag "logo.svg", alt: "Inertia's logo", class: "Navbar__Logo" %>
          </a>
          <form action="/search">
            <div class="Input__Group Input__Group--Search">
              <input
                class="Input__Default Input--Search"
                placeholder="Search..."
                type="text"
                autocomplete="off"
                autocorrect="off"
                value="<%= params[:query] %>"
                name="query"
              >
              <button for="Search+Submit" class="Button Button--Search">
                <%= inline_svg("icons/search.svg", class: "Icon Icon--on-foreground") %>
              </button>
              <input id="Search+Submit" class="Hidden" type="submit">
            </div>
          </form>
        </div>
        <div class="Navbar__Subbar">
          <a
            class="Navbar__Button"
            data-type="0"
            href="<%= "/search?query=#{@search_query}&page=#{@search_page}&type=0" %>"
          >
            <%= inline_svg("icons/search.svg", class: "Icon") %>
            General
          </a>
          <a
            class="Navbar__Button"
            data-type="1"
            href="<%= "/search?query=#{@search_query}&page=#{@search_page}&type=1" %>"
          >
            <%= inline_svg("icons/picture.svg", class: "Icon") %>
            Images
          </a>
        </div>
      </nav>
      <!-- End Navigation Bar -->
      <div class="Search">
        <!-- Elapsed Time -->
        <p class="TimeElapsed Muted">
          Took
          <i><%= @time_elapsed %></i>
          to fetch the search results.
        </p>

        <%= yield %>
        <!-- Pagination -->
        <% if !@max_pages.nil? %>
          <div class="Pagination">
            <% if @search_page > 1 %>
              <a
                class="Switch"
                href="<%= "/search?query=#{@search_query}&page=#{@search_page}&type=#{@search_type}&page=#{@search_page - 1}" %>"
              >
                <%= inline_svg("icons/arrow_left.svg", class: "Icon") %>
                Previous
              </a>
              <span class="Separator"></span>
            <% end %>

            <div class="Pages"><% (1..@max_pages).each do |page| %>
                <% if page == @search_page %>
                  <span class="Current"><%= page %></span>
                <% elsif page.between?(@search_page - 2, @search_page + 2) %>
                  <a
                    href="<%= "/search?query=#{@search_query}&page=#{@search_page}&type=#{@search_type}&page=#{page}" %>"
                  ><%= page %></a>
                <% elsif page == 1 || page == @max_pages %>
                  <a
                    href="<%= "/search?query=#{@search_query}&page=#{@search_page}&type=#{@search_type}&page=#{page}" %>"
                  ><%= page %></a>
                <% elsif page == @search_page - 3 || page == @search_page + 3 %>
                  <span class="Disabled">...</span>
                <% end %>
              <% end %>
            </div>

            <% if @search_page < @max_pages %>
              <span class="Separator"></span>

              <a
                class="Switch"
                href="<%= "/search?query=#{@search_query}&page=#{@search_page}&type=#{@search_type}&page=#{@search_page + 1}" %>"
              >
                Next
                <%= inline_svg("icons/arrow_right.svg", class: "Icon") %>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>

    </main>
  </body>
</html>
